:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #3494e4;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

h1 {
    margin: 5px 0 0;
}

h3 {
    font-weight: 400;
    margin: 5px 0;
}

.cup {
    background-color: white;
    border: 2px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 20px 20px;
    height: 330px;
    width: 150px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.cup.cup-small {
    height: 100px;
    width: 35px;
    border-radius: 0 0 13px 13px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.cup.cup-small.full {
    background-color: var(--fill-color);
    color: white;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.remained span {
    font-size: 10px;
    font-weight: bold;
}

.remained small {
    font-size: 20px;
}

.percentage {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    height: 0;
}

.text {
    text-align: center;
    margin: 0 0 5px;
}