* {
    box-sizing: border-box;
}

body {
    background-color: #1e90ff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

h1 {
    margin: 5px;
}

h3 {
    font-weight: 400;
    margin: 5px;
}

.cup {
    background-color: white;
    border: 2px solid #0000cd;
    color: #0000cd;
    border-radius: 0 0 20px 20px;
    height: 330px;
    width: 150px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.cup.cup-small {
    height: 100px;
    width: 35px;
    border-radius: 0 0 13px 13px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.full {
    background-color: #1e90ff;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 240px;
}

.remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.remained span {
    font-size: 15px;
    font-weight: bold;
}

.percentage {
    background-color: #1e90ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    height: 0;
}

.text {
    text-align: center;
    margin: 0 0 5px;
}

#container {
    background-color: #0000cd;
    border: 5px solid white;
    min-height: 100px;
    min-width: 100px;
    margin: 0 auto;
    text-align: center;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 50px;
    font-size: 10px;
    background-color: #1e90ff;
}

#output {
    font-size: 10px;
    color: white;
}